## Citibike - NYC Sampling

In [49]:
import numpy as np
import pandas as pd
import matplotlib.cm
import matplotlib.pyplot as plt
import matplotlib.ticker as tkr

import matplotlib.lines as mlines
import matplotlib.dates as mdates
import matplotlib.cbook as cbook
import time

import findspark
findspark.init()

from geopy.distance import geodesic

import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import count, sum, avg, udf, to_timestamp, date_trunc
from pyspark.sql.functions import year, month, hour, dayofweek
from pyspark.sql.functions import round, concat, col, lit

from pyspark.sql.types import FloatType, StructType, IntegerType, StringType, DoubleType, StructField, TimestampType, DateType
from pyspark.sql.types import TimestampType

import random

spark1 = SparkSession.builder.appName("CB").getOrCreate()

import datetime as dt
print("modules imported")

randomSeed = 1984

pathWeather = "/users/sajudson/Dropbox/WPI/DS504/project/weather/"
pathData = "/users/sajudson/Dropbox/WPI/DS504/project/data/"
pathFigure = "/users/sajudson/Dropbox/WPI/DS504/project/figures/"


plt.style.use('ggplot')

modules imported

## Select City and set filenames for input and output

In [54]:


tripSampleFraction = .20
stationSampleFraction = .20


#Use NYC weather data for both data sets
weatherRaw = "NYC"+'weatherRaw'
weatherFeatures = "NYC"+'weatherFeatures'
weather_file_type = 'csv'

#SELECT WHICH CITY TO USE FOR ANALYSIS 
city = "NYC"
#city = "JC"
sample = str(int(tripSampleFraction*100))

filenameRaw = "citibike"+city+"Raw_sample_"+sample
filenameInput = filenameRaw+".csv"
filenameBF4 = "citibike"+city+"bf3_sample_"+sample
filenameOutput = filenameBF4+".csv"

print(filenameInput, ", ",filenameOutput)

citibikeNYCRaw_sample_20.csv ,  citibikeNYCbf3_sample_20.csv

In [55]:
# File location and type
file_location = pathData+filenameInput
file_type = "csv"
print(file_location)

/users/sajudson/Dropbox/WPI/DS504/project/data/citibikeNYCRaw_sample_20.csv

# Import Trip Data

In [56]:

# CSV options
infer_schema = "false"
first_row_is_header = "true"
delimiter = ","

# The applied options are for CSV files. For other file types, these will be ignored.
bf = spark1.read.format(file_type) \
  .option("inferSchema", infer_schema) \
  .option("header", first_row_is_header) \
  .option("sep", delimiter) \
  .load(file_location)

display(bf)

DataFrame[tripduration: string, starttime: string, stoptime: string, start station id: string, start station name: string, start station latitude: string, start station longitude: string, end station id: string, end station name: string, end station latitude: string, end station longitude: string, bikeid: string, usertype: string, birth year: string, gender: string]

## Sample DataFrame & Cleanup

In [57]:
t0= time.time()
#bf1 = bf.sample(False,tripSampleFraction,randomSeed)
bf1 = bf

for col in bf1.columns:
  bf1 = bf1.withColumnRenamed(col,col.replace(" ", "_"))
bf1.dropna()
bf1.describe().show()
#print(time.time()-t0)

+-------+------------------+--------------------+--------------------+------------------+------------------+----------------------+-----------------------+------------------+----------------+--------------------+---------------------+------------------+----------+-----------------+------------------+
|summary|      tripduration|           starttime|            stoptime|  start_station_id|start_station_name|start_station_latitude|start_station_longitude|    end_station_id|end_station_name|end_station_latitude|end_station_longitude|            bikeid|  usertype|       birth_year|            gender|
+-------+------------------+--------------------+--------------------+------------------+------------------+----------------------+-----------------------+------------------+----------------+--------------------+---------------------+------------------+----------+-----------------+------------------+
|  count|           6668097|             6668097|             6668097|           6667711|           6667711|               6668097|                6668097|           6667711|         6667711|             6668097|              6668097|           6668097|   6657692|          6280941|           6668097|
|   mean| 989.4110870012839|                null|                null| 1436.394454408717|              null|     40.73704352418919|     -73.98384351187369| 1427.272188311701|            null|   40.73666385122731|   -73.98398274382593|24546.268642012856|      null|1978.773667512559|  1.13145054728508|
| stddev|15228.823169599744|                null|                null|1383.3746987015047|              null|   0.04947664223074966|    0.07245793699421764|1381.2582215615257|            null| 0.06467237210376711|  0.10487235947367565| 5680.711445705842|      null|11.85743335774727|0.5564134424967756|
|    min|               100| 2016-10-01 00:02:09| 2016-10-01 00:08:23|             116.0|  1 Ave & E 110 St|                   0.0|     -73.56890559196472|             116.0|1 Ave & E 110 St|                 0.0|   -73.56890559196472|             14529|  Customer|           1874.0|                 0|
|    max|              9999|2018-09-30 23:59:...|2018-10-03 11:21:...|              83.0|  York St & Jay St|    45.506364054011385|                    0.0|              83.0|York St & Jay St|  45.506364054011385|                  0.0|             34907|Subscriber|           2002.0|                 2|
+-------+------------------+--------------------+--------------------+------------------+------------------+----------------------+-----------------------+------------------+----------------+--------------------+---------------------+------------------+----------+-----------------+------------------+

# Create a view or table

In [58]:
temp_table_name = filenameRaw

bf1.createOrReplaceTempView(temp_table_name)

# Add column with calculated distance between stations

In [59]:


t0 = time.time()
@udf('double')
def geodistance(start_latitude,start_longitude,end_latitude,end_longitude):
    d = geodesic((start_latitude,start_longitude),(end_latitude,end_longitude)).miles
    return (d)



bf1 = bf1.withColumn('distance',geodistance(bf1.start_station_latitude,bf1.start_station_longitude,
                                          bf1.end_station_latitude, bf1.end_station_longitude)
              )
bf1 = bf1.withColumn('tripduration_min', bf1.tripduration/60)

maxtripduration = 24*60
maxdistance = 50

bf1.filter(bf1['distance']<maxdistance)
bf1.filter(bf1['tripduration_min']<maxtripduration)

print(bf1.count(), len(bf1.columns))
#print(bf1.columns)
t1 = time.time()
print(t1-t0)

6668097 17
6.9388978481292725

In [60]:
t0 = time.time()
#bf1.show()
t1 = time.time()
print(t1-t0)

+------------+-------------------+-------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+------+----------+----------+------+------------------+------------------+
|tripduration|          starttime|           stoptime|start_station_id|  start_station_name|start_station_latitude|start_station_longitude|end_station_id|    end_station_name|end_station_latitude|end_station_longitude|bikeid|  usertype|birth_year|gender|          distance|  tripduration_min|
+------------+-------------------+-------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+------+----------+----------+------+------------------+------------------+
|         508|2016-10-02 13:04:16|2016-10-02 13:12:44|           322.0|Clinton St & Till...|    40.696191999999996|             -73.991218|        3412.0|Pacific St & Nevi...|          40.6853761|         -73.98302136| 23164|Subscriber|    1968.0|     1|0.8615859225574408| 8.466666666666667|
|         221|2016-10-31 12:49:53|2016-10-31 12:53:34|           484.0|     W 44 St & 5 Ave|           40.75500254|           -73.98014437|         533.0|  Broadway & W 39 St|         40.75299641|         -73.98721619| 24903|Subscriber|    1990.0|     2|0.3960592046869539| 3.683333333333333|
|         588|2016-10-12 13:48:02|2016-10-12 13:57:51|           331.0| Pike St & Monroe St|           40.71173107|           -73.99193043|         332.0|           Cherry St|         40.71219906|         -73.97948148| 17658|Subscriber|    2000.0|     1|0.6544430550855861|               9.8|
|         243|2016-10-24 13:33:31|2016-10-24 13:37:35|           440.0|     E 45 St & 3 Ave|           40.75255434|           -73.97282625|        3223.0|     E 55 St & 3 Ave|  40.758996559605116|   -73.96865397691727| 20961|Subscriber|    1994.0|     1|0.4955163531785691|              4.05|
|         519|2016-10-06 09:46:50|2016-10-06 09:55:30|           306.0|Cliff St & Fulton St|           40.70823502|           -74.00530063|         268.0|Howard St & Centr...|         40.71910537|         -73.99973337| 24319|Subscriber|    1978.0|     2|0.8050229206157371|              8.65|
|         604|2016-10-19 21:34:35|2016-10-19 21:44:39|           252.0|MacDougal St & Wa...|           40.73226398|           -73.99852205|         505.0|     6 Ave & W 33 St|         40.74901271|         -73.98848395| 26387|Subscriber|    1980.0|     1|1.2701224838016258|10.066666666666666|
|         689|2016-10-11 09:20:09|2016-10-11 09:31:38|           536.0|     1 Ave & E 30 St|           40.74144387|           -73.97536082|         359.0|  E 47 St & Park Ave|         40.75510267|         -73.97498696| 18973|Subscriber|    1956.0|     2|0.9426979530325967|11.483333333333333|
|         456|2016-10-15 23:38:12|2016-10-15 23:45:48|           492.0|     W 33 St & 7 Ave|           40.75019995|           -73.99093085|         528.0|     2 Ave & E 31 St|         40.74290902|         -73.97706058| 26750|Subscriber|    1987.0|     1|0.8848372283614386|               7.6|
|        2334|2016-10-12 18:30:57|2016-10-12 19:09:52|           446.0|     W 24 St & 7 Ave|           40.74487634|           -73.99529885|        3402.0| Court St & State St|          40.6902375|         -73.99203074| 24207|Subscriber|    1982.0|     1|3.7741084368868387|              38.9|
|         578|2016-10-15 13:34:52|2016-10-15 13:44:30|           497.0|  E 17 St & Broadway|           40.73704984|           -73.99009296|         536.0|     1 Ave & E 30 St|         40.74144387|         -73.97536082| 24032|Subscriber|    1984.0|     2|0.8305334609099133| 9.633333333333333|
|         684|2016-10-18 10:32:18|2016-10-18 10:43:42|           507.0|     E 25 St & 2 Ave|           40.73912601|           -73.97973776|        3435.0|Grand St & Elizab...|  40.718821999999996|            -73.99596| 25528|Subscriber|    1992.0|     1|1.6395157707647832|              11.4|
|         812|2016-10-28 20:45:36|2016-10-28 20:59:08|           174.0|     E 25 St & 1 Ave|            40.7381765|           -73.97738662|        3255.0|     8 Ave & W 31 St|    40.7505853470215|    -73.9946848154068| 22888|Subscriber|    1978.0|     1|1.2479141773769118|13.533333333333333|
|         353|2016-10-26 21:22:14|2016-10-26 21:28:08|          3232.0| Bond St & Fulton St|     40.68962188790333|     -73.98304268717766|        3407.0|Union St & Nevins St|   40.67909799721684|   -73.98765474557877| 25987|Subscriber|    1990.0|     1|0.7655137375760176| 5.883333333333334|
|         691|2016-10-26 23:29:44|2016-10-26 23:41:16|           382.0|University Pl & E...|           40.73492695|           -73.99200509|          79.0|Franklin St & W B...|         40.71911552|         -74.00666661| 17913|Subscriber|    1991.0|     1|1.3351758744102429|11.516666666666667|
|         266|2016-10-21 06:51:48|2016-10-21 06:56:15|          3263.0|Cooper Square & E...|     40.72923649910006|     -73.99086803197861|         432.0|   E 7 St & Avenue A|         40.72621788|         -73.98379855| 14979|Subscriber|    1991.0|     2|0.4255623609989492| 4.433333333333334|
|         382|2016-10-14 07:17:50|2016-10-14 07:24:13|           515.0|    W 43 St & 10 Ave|           40.76009437|           -73.99461843|         500.0|  Broadway & W 51 St|         40.76228826|         -73.98336183| 24991|Subscriber|    1989.0|     1| 0.609697660294934| 6.366666666666666|
|         986|2016-10-14 17:25:14|2016-10-14 17:41:40|           519.0|Pershing Square N...|    40.751872999999996|     -73.97770600000001|         349.0|Rivington St & Ri...|         40.71850211|         -73.98329859| 22901|Subscriber|    1986.0|     1| 2.321310432770792|16.433333333333334|
|         203|2016-10-16 17:00:39|2016-10-16 17:04:02|           511.0|  E 14 St & Avenue B|           40.72938685|           -73.97772429|         504.0|     1 Ave & E 16 St|         40.73221853|         -73.98165557| 16880|Subscriber|    1983.0|     2|0.2841865909159482|3.3833333333333333|
|         200|2016-10-15 19:19:46|2016-10-15 19:23:06|           320.0|Leonard St & Chur...|             40.717571|             -74.005549|         146.0|Hudson St & Reade St|         40.71625008|          -74.0091059| 24175|Subscriber|    1961.0|     2|0.2078014356426468|3.3333333333333335|
|         890|2016-10-28 13:16:22|2016-10-28 13:31:13|           315.0|South St & Gouver...|           40.70355377|           -74.00670227|         347.0|Greenwich St & W ...|  40.728846000000004|   -74.00859100000001| 22686|Subscriber|    1972.0|     1|1.7480368350519757|14.833333333333334|
+------------+-------------------+-------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+------+----------+----------+------+------------------+------------------+
only showing top 20 rows

2.8747661113739014

In [9]:
#bf1.cache()

In [10]:
#bf1quantile = bf1.approxQuantile(["tripduration_min", "distance"], [0.5], 0.25)

# Drop columns that are not required

In [61]:
#df_new = df.drop(*drop_these)

t = time.time()
dropFeatures =[      'start_station_name',
                     'start_station_latitude', 'start_station_longitude', 
                     'end_station_name', 'end_station_latitude', 'end_station_longitude',
                     'bikeid', 'birth_year', 'gender']

median_distance = 0.62


bf2 = bf1.select([column for column in bf1.columns if column not in dropFeatures])

# Convert time and date string to timestamp, round down to hour

In [62]:
#print(time.time()-t)

#timestamps in m/d/yyyy hh:mm:ss format prior prior to 2016-10
#




bf2 = bf2.withColumn("starttime", to_timestamp(bf2.starttime,"yyyy-MM-dd HH:mm:ss").cast("timestamp"))
bf2 = bf2.withColumn("starttime", date_trunc("hour", bf2.starttime))
bf2 = bf2.withColumn("stoptime", to_timestamp(bf2.stoptime,"yyyy-MM-dd HH:mm:ss").cast("timestamp"))
bf2 = bf2.withColumn("stoptime", date_trunc("hour", bf2.stoptime))

#Check output
#t0 = time.time()
#bf2.show()
#print(time.time()-t0)

# Create new features based on distance between stations
Indicator variables
- local (distance = 0, bike returned to same station)
- short (distance <= median distance)
- long (distance > median distance)

In [63]:



@udf
def setShort(d):
    if d > 0 and d <= median_distance:
        return 1
    else:
        return 0

    
@udf    
def setLocal(d):
    if (d==0): 
        return(1)
    else: 
        return(0)
    

@udf    
def setLong(d):
    if (d> median_distance): 
        return(1)
    else: 
        return(0)

    

bf2 = bf2.withColumn('local', setLocal(bf2.distance).cast("integer"))
bf2 = bf2.withColumn('short', setShort(bf2.distance).cast("integer"))
bf2 = bf2.withColumn('long', setLong(bf2.distance).cast("integer"))
bf2 = bf2.withColumn('start_station_id', bf2['start_station_id'].cast('integer'))
bf2 = bf2.withColumn('end_station_id', bf2['end_station_id'].cast('integer'))
#bf2.show()
#bf2.cache

# Create dataframe grouped by timestamp and station id 
- Split trip dataframe in to supply (trips ending at a station)  and demand (trips starting at a station) dataframes.
- Aggregrate by hour and station id
- Join supply and demand dataframes into single data frame based on hour and station id
- Calculate net demand at each station

In [64]:
demandDropFeatures =['tripduration', 'usertype', 'distance',
                     'stoptime', 
                     'subscriber','customer',
                     'end_station_id', 
                     'tripduration_min',
                     ]
supplyDropFeatures =['tripduration',  'usertype', 'distance',
                     'starttime', 
                     'subscriber','customer',
                     'start_station_id',
                     'tripduration_min',
                     ]


bf2_demand = bf2.select([column for column in bf2.columns if column not in demandDropFeatures])
bf2_demand = bf2_demand.withColumnRenamed("starttime", "datetime").withColumnRenamed("start_station_id","station_id")

bf2_supply = bf2.select([column for column in bf2.columns if column not in supplyDropFeatures])
bf2_supply = bf2_supply.withColumnRenamed("stoptime", "datetime").withColumnRenamed("end_station_id","station_id")

bf2_d_agg = bf2_demand.groupBy("datetime","station_id").agg(sum("local"), sum("short"),sum("long")).orderBy('datetime', 'station_id' )
bf2_d_agg = bf2_d_agg.withColumnRenamed("sum(local)", "local_demand").withColumnRenamed("sum(short)", "short_demand").withColumnRenamed("sum(long)", "long_demand")

bf2_s_agg = bf2_supply.groupBy("datetime","station_id").agg(sum("local"), sum("short"),sum("long"))
bf2_s_agg = bf2_s_agg.withColumnRenamed("sum(local)", "local_supply").withColumnRenamed("sum(short)", "short_supply").withColumnRenamed("sum(long)", "long_supply")

bf3 = bf2_d_agg.join(bf2_s_agg, ['datetime','station_id'])

bf3 = bf3.withColumn('totalDemand', (bf3.local_demand+bf3.short_demand+bf3.long_demand))
bf3 = bf3.withColumn('totalSupply', ((bf3.local_supply+bf3.short_supply+bf3.long_supply)))


#remove short local long and net demand features (reinstate later if feasible/necessary)
#bf3 = bf3.withColumn('netDemand', (bf3.totalDemand)-(bf3.totalSupply))

dropFeatures3 =['short_demand',  'long_demand', 'local_demand',
               'short_supply',  'long_supply', 'local_supply',]


bf3 = bf3.select([column for column in bf3.columns if column not in dropFeatures3])

In [65]:
#bf3.show()

+-------------------+----------+-----------+-----------+
|           datetime|station_id|totalDemand|totalSupply|
+-------------------+----------+-----------+-----------+
|2016-10-01 11:00:00|      3428|          3|          1|
|2016-10-01 12:00:00|       301|          4|          2|
|2016-10-01 12:00:00|      3398|          1|          1|
|2016-10-01 14:00:00|       309|          1|          2|
|2016-10-01 14:00:00|       356|          2|          1|
|2016-10-01 16:00:00|       281|          1|          1|
|2016-10-01 16:00:00|       312|          1|          2|
|2016-10-01 16:00:00|       444|          5|          6|
|2016-10-01 16:00:00|      3092|          2|          2|
|2016-10-01 17:00:00|       432|          5|          1|
|2016-10-01 19:00:00|       167|          1|          3|
|2016-10-01 19:00:00|       523|          1|          1|
|2016-10-01 20:00:00|      3435|          3|          3|
|2016-10-02 11:00:00|       251|          2|          6|
|2016-10-02 13:00:00|      3052|          1|          2|
|2016-10-02 13:00:00|      3303|          1|          2|
|2016-10-02 15:00:00|       127|          2|          5|
|2016-10-02 16:00:00|      3173|          1|          4|
|2016-10-02 17:00:00|       254|          2|          1|
|2016-10-02 18:00:00|       377|          3|          2|
+-------------------+----------+-----------+-----------+
only showing top 20 rows

## Sample based on stations

In [66]:
t0= time.time()
#create DF with unique station ids
stationDF = bf3.select("station_id").distinct().orderBy("station_id")
#print(stationDF.count())
#create DF with sample of station is
sampleStationDF = stationDF.sample(False,stationSampleFraction,randomSeed)
#convertsample station dataframe to a list
sampleStationList = sampleStationDF.select("station_id").rdd.map(lambda row : row[0]).collect()                         
print(len(sampleStationList))
bf4 = bf3.filter(bf3.station_id.isin(sampleStationList))
print(sampleStationList)

#bf4.show()
print(time.time()-t0)

180
[72, 116, 119, 143, 150, 152, 153, 161, 168, 195, 238, 244, 245, 252, 255, 259, 260, 275, 278, 279, 280, 285, 289, 307, 312, 319, 322, 324, 344, 346, 347, 348, 349, 351, 365, 369, 373, 395, 409, 416, 445, 454, 457, 460, 461, 467, 468, 472, 488, 490, 500, 526, 530, 534, 536, 537, 2002, 2003, 2004, 2012, 2017, 3002, 3041, 3049, 3052, 3061, 3073, 3075, 3076, 3077, 3078, 3098, 3102, 3105, 3107, 3113, 3120, 3121, 3123, 3124, 3135, 3140, 3148, 3150, 3158, 3165, 3166, 3175, 3219, 3224, 3241, 3246, 3249, 3255, 3283, 3296, 3306, 3308, 3311, 3312, 3315, 3318, 3322, 3330, 3333, 3338, 3341, 3342, 3344, 3346, 3347, 3348, 3353, 3354, 3357, 3359, 3368, 3369, 3373, 3376, 3383, 3387, 3392, 3393, 3396, 3397, 3407, 3415, 3417, 3424, 3427, 3441, 3447, 3459, 3464, 3467, 3478, 3496, 3497, 3498, 3508, 3510, 3513, 3516, 3522, 3525, 3528, 3536, 3541, 3551, 3559, 3560, 3561, 3563, 3564, 3568, 3570, 3571, 3576, 3580, 3586, 3599, 3601, 3604, 3606, 3613, 3615, 3617, 3620, 3631, 3632, 3644, 3647, 3648, 3654, 3658, 3666, 3671, 3675, 3680]
89.14726185798645

Save file to disk

In [67]:
t0= time.time()
bf4.write.csv(pathData+filenameOutput, mode="overwrite", header=True, sep=",")
print(time.time()-t0)

# this operation takes ~140 seconds without bf4 in cache for JC data at 100%
# this operation takes ~685 seconds without bf4 in cache for NYC data at 120%

685.344743013382

Describe file save to disk for later comparison

In [68]:
t0= time.time()
bf4.describe().show()
print(time.time()-t0)
bf4.show()
#
# this operation takes ~147 seconds with bf4 in cache

+-------+------------------+------------------+------------------+
|summary|        station_id|       totalDemand|       totalSupply|
+-------+------------------+------------------+------------------+
|  count|            365562|            365562|            365562|
|   mean|1523.4033898490543|  2.25856899787177|2.2852265826316738|
| stddev|1410.4577855968032|1.8102462485889539|1.8422900745279007|
|    min|                72|                 1|                 1|
|    max|              3680|                49|                37|
+-------+------------------+------------------+------------------+

656.0118918418884
+-------------------+----------+-----------+-----------+
|           datetime|station_id|totalDemand|totalSupply|
+-------------------+----------+-----------+-----------+
|2016-10-01 16:00:00|       312|          1|          2|
|2016-10-02 13:00:00|      3052|          1|          2|
|2016-10-03 12:00:00|       472|          5|          2|
|2016-10-03 14:00:00|      3427|          1|          3|
|2016-10-03 19:00:00|       461|          4|          8|
|2016-10-03 22:00:00|       445|          1|          1|
|2016-10-04 09:00:00|      3102|          1|          1|
|2016-10-04 15:00:00|       252|          1|          1|
|2016-10-04 22:00:00|      3113|          1|          2|
|2016-10-05 06:00:00|       346|          2|          2|
|2016-10-05 07:00:00|      2012|          1|          1|
|2016-10-05 17:00:00|       168|         13|          9|
|2016-10-05 19:00:00|       457|          4|          2|
|2016-10-06 11:00:00|      3255|          1|          1|
|2016-10-06 15:00:00|      2017|          1|          1|
|2016-10-06 20:00:00|      3224|          1|          4|
|2016-10-07 10:00:00|       143|          3|          1|
|2016-10-08 09:00:00|      3306|          1|          1|
|2016-10-08 12:00:00|      3102|          1|          1|
|2016-10-08 14:00:00|      3175|          1|          1|
+-------------------+----------+-----------+-----------+
only showing top 20 rows

In [ ]:
qccheck = bf4.groupBy("station_id").agg(sum("totalDemand"), sum("totalSupply"),count("station_id"))

In [70]:
qccheck.show(180)

+----------+----------------+----------------+-----------------+
|station_id|sum(totalDemand)|sum(totalSupply)|count(station_id)|
+----------+----------------+----------------+-----------------+
|      3175|            6677|            6753|             3593|
|      3098|              57|              57|               50|
|      3561|             105|             106|              100|
|      3105|             936|             953|              727|
|       255|              13|              12|               10|
|      3631|              35|              29|               28|
|       472|           20082|           20019|             6901|
|      3306|            1184|            1193|              926|
|       322|            2698|            2786|             1742|
|      3601|              72|              75|               67|
|      3441|             113|              97|               85|
|      3124|            2495|            2492|             1647|
|       530|           14127|           13641|             5704|
|      2003|           14123|           14532|             6136|
|      3296|             750|             753|              572|
|      3166|            6554|            7095|             3234|
|      3346|            2886|            2854|             1948|
|      3359|            1625|            1601|             1125|
|      3387|             536|             504|              407|
|      3123|             216|             206|              181|
|      3666|             449|             460|              331|
|      3528|             133|             134|              118|
|       460|            8599|            9011|             4196|
|      3076|            1239|            1250|              935|
|      3353|             649|             631|              404|
|       409|             888|             873|              707|
|       285|           32129|           31821|             9112|
|      3654|              74|              71|               63|
|      3586|              32|              36|               30|
|       319|           11770|           11577|             5143|
|       346|           10597|           11505|             5272|
|      3140|            9762|           10545|             4672|
|       416|            1952|            1910|             1400|
|      3498|             100|             106|               93|
|       152|            4127|            4068|             2298|
|      3073|             428|             447|              373|
|      3121|             614|             632|              475|
|       259|            8583|            8599|             3726|
|      3283|            3989|            3654|             2244|
|      3648|             951|             957|              664|
|      3570|             281|             277|              229|
|      3541|             330|             329|              267|
|       280|            7680|            7877|             4237|
|       348|            6363|            6705|             2632|
|       168|           26617|           26757|             7822|
|      3415|            1459|            1446|             1100|
|       500|           10514|           10868|             4487|
|      3497|             985|            1017|              739|
|      3120|             808|             789|              562|
|      3613|             473|             482|              355|
|      3049|             615|             606|              484|
|      3632|            5567|            5900|             2696|
|      3075|             174|             160|              141|
|      3135|            2594|            2623|             1836|
|      3249|             609|             632|              518|
|       279|           10789|           10676|             4734|
|      3150|            2678|            2682|             1756|
|      3369|             945|             924|              679|
|      3341|            1627|            1530|             1127|
|      3675|             287|             303|              231|
|       347|           16947|           16954|             6061|
|      3522|              95|              95|               83|
|      3333|              71|              71|               64|
|      3383|            5777|            5709|             3173|
|      3330|             196|             192|              155|
|       461|           16663|           16405|             6764|
|      2004|            1177|            1142|              613|
|      3671|             732|             739|              491|
|       324|            4684|            5711|             2856|
|      3658|            2864|            2854|             1385|
|        72|           11087|           11019|             5025|
|      3615|             532|             498|              390|
|      3620|              22|              22|               19|
|      3392|             281|             275|              220|
|      3606|             135|             136|              114|
|      3571|             365|             353|              283|
|      3102|            1769|            1862|             1287|
|      3647|              22|              21|               19|
|      3563|             147|             141|              125|
|       307|           13916|           14142|             6199|
|       537|           20038|           19802|             6995|
|      3513|             102|             101|               86|
|       278|            1013|            1042|              783|
|       445|           16635|           18914|             6476|
|       161|           15505|           16392|             6417|
|      3002|           26989|           26874|             7757|
|      3373|            2307|            2233|             1605|
|       238|            7243|            7866|             3833|
|       244|            2323|            2254|             1579|
|      3496|             711|             689|              550|
|      3427|           21590|           21186|             7245|
|      3158|           13667|           13067|             5829|
|      3407|            1556|            1581|             1110|
|      3397|            1206|            1169|              930|
|      3516|             560|             584|              451|
|      3052|             641|             615|              506|
|       467|            4857|            4803|             2885|
|      3357|            1929|            1897|             1382|
|       312|           15107|           15948|             6766|
|      3417|            2054|            2099|             1479|
|       395|            1334|            1391|              914|
|      3061|             193|             180|              167|
|      3467|            6838|            7091|             2748|
|      3644|             203|             211|              144|
|      2012|           10475|            9818|             4745|
|      3393|             167|             161|              143|
|      3354|            3294|            3130|             1841|
|      3478|             528|             489|              358|
|       289|             477|             451|              372|
|      3551|             105|             106|               96|
|      3318|            3840|            4021|             2451|
|       245|             745|             735|              586|
|      3508|             994|            1011|              741|
|      3510|             357|             372|              310|
|      3219|               1|               3|                1|
|      3560|             161|             161|              133|
|      3580|             484|             475|              373|
|       351|            5828|            5506|             2846|
|      3576|            1246|            1227|              854|
|       143|            5020|            4986|             2983|
|      3564|              25|              25|               22|
|      3241|             487|             512|              416|
|       526|           14509|           14822|             6017|
|      3322|             347|             345|              301|
|      3599|             940|             928|              598|
|      3165|           16367|           16493|             5310|
|      3246|             459|             473|              298|
|      3459|            5711|            5497|             2844|
|       195|           12317|           12344|             5060|
|       490|           31622|           31589|             8708|
|      3255|           29357|           31040|             7839|
|      3077|            1715|            1832|             1261|
|      3525|              48|              52|               45|
|      3311|            1319|            1412|              972|
|       457|           24509|           23783|             7744|
|      3396|            1264|            1276|              955|
|      3338|             486|             463|              409|
|       488|            4925|            5271|             2135|
|      3041|             451|             436|              383|
|       534|            4127|            3752|             2210|
|      3559|              26|              26|               25|
|       536|           13583|           12940|             5957|
|      3424|             370|             380|              326|
|      3342|             277|             304|              237|
|       369|            7498|            8226|             4183|
|       150|            5798|            6303|             3192|
|       260|            2192|            1990|             1271|
|      3347|             867|             919|              669|
|       116|            7327|            7257|             3280|
|      3680|            2848|            2929|             1092|
|      3604|             135|             140|              117|
|      3078|            2719|            2717|             1878|
|       349|            3964|            4255|             2502|
|       344|            1242|            1164|              935|
|       454|            4816|            4709|             2831|
|       373|             533|             526|              439|
|      3113|            3602|            3698|             2387|
|       119|             180|             175|              154|
|      3447|            2825|            2851|             1735|
|      3107|            6474|            6488|             3673|
|      3536|            1137|            1049|              781|
|      3344|            1047|            1094|              698|
|       365|            1327|            1290|              993|
|      3224|           14054|           14721|             5257|
|      3617|             189|             206|              161|
|      3348|             612|             656|              469|
|      3315|            2466|            2622|             1687|
|      3312|            2121|            2228|             1500|
|       275|            1048|            1031|              805|
|      2017|             767|             853|              433|
|      3464|            1228|            1279|              535|
|       252|            9864|           10215|             4910|
|       153|            7132|            6689|             2511|
|      3308|            1416|            1423|             1037|
|      2002|            9048|            9336|             4682|
|      3148|            3047|            3273|             1891|
|       468|           15983|           16007|             6180|
|      3368|            2598|            2723|             1797|
|      3568|             270|             276|              234|
|      3376|            2483|            2469|             1724|
+----------+----------------+----------------+-----------------+

## Code after this cell has been moved to other notebooks